<!DOCTYPE html>
<html>

<head>
    <title>Recipes</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Recipe App</h1>

    <form action="/api/recipes" method="POST">
        <input name="name" placeholder="Recipe name">
        <input name="difficulty" placeholder="Difficulty">
        <button>Create</button>
    </form>
</body>

</html>